@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#imagem1{
  width: 100%; /* Responsivo */
}

h3{
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 125% */
text-align: center;
text-transform: uppercase;

color: #000000;
}

#contem-linha{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  margin-top: 60px;
}

#imagem2{
  width: 146vh;
  margin-left: 13%;
}

.linha-separadora1 {
  width: 70vh;
  border: 2px solid black;
  align-self: left;
}
.linha-separadora2 {
  width: 70vh;
  border: 2px solid black;
  align-self: right;
}

a{
  text-decoration: none;
}

.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#quadrado{
  position: absolute;
  height: 47.67vh;
  width: 79vh;
  background-color: black;
  margin-top: 7vh;
  margin-left: 31.11vh;
}

.container3{
  position: relative;
}


#veja{
  background-color: #E2CCAE;
  color: black;
  margin-top: 20px;
  padding: 10px;
}

.retangulo{
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  background-color: white;
  width: 1900px;
  height: 40px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.footer-container {
  margin-left: 60px;
}

@media (max-width: 768px) {
  .footer-container{
    margin-left: 0;
  }
}